/* line 49, ../stylesheets-sass/vendor/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 57, ../stylesheets-sass/vendor/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 68, ../stylesheets-sass/vendor/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 76, ../stylesheets-sass/vendor/_normalize.scss */
[hidden] {
  display: none;
}

/* line 89, ../stylesheets-sass/vendor/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 103, ../stylesheets-sass/vendor/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 109, ../stylesheets-sass/vendor/_normalize.scss */
body {
  margin: 0;
}

/* line 125, ../stylesheets-sass/vendor/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 132, ../stylesheets-sass/vendor/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 145, ../stylesheets-sass/vendor/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 150, ../stylesheets-sass/vendor/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 155, ../stylesheets-sass/vendor/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 160, ../stylesheets-sass/vendor/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 165, ../stylesheets-sass/vendor/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 170, ../stylesheets-sass/vendor/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 178, ../stylesheets-sass/vendor/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 185, ../stylesheets-sass/vendor/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 190, ../stylesheets-sass/vendor/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 197, ../stylesheets-sass/vendor/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 203, ../stylesheets-sass/vendor/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 211, ../stylesheets-sass/vendor/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 222, ../stylesheets-sass/vendor/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 232, ../stylesheets-sass/vendor/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 243, ../stylesheets-sass/vendor/_normalize.scss */
q {
  quotes: none;
}

/* line 251, ../stylesheets-sass/vendor/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 256, ../stylesheets-sass/vendor/_normalize.scss */
small {
  font-size: 75%;
}

/* line 264, ../stylesheets-sass/vendor/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 271, ../stylesheets-sass/vendor/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 275, ../stylesheets-sass/vendor/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 288, ../stylesheets-sass/vendor/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 294, ../stylesheets-sass/vendor/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 303, ../stylesheets-sass/vendor/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 312, ../stylesheets-sass/vendor/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 328, ../stylesheets-sass/vendor/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 337, ../stylesheets-sass/vendor/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 347, ../stylesheets-sass/vendor/_normalize.scss */
figure {
  margin: 0;
}

/* line 357, ../stylesheets-sass/vendor/_normalize.scss */
form {
  margin: 0;
}

/* line 364, ../stylesheets-sass/vendor/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 374, ../stylesheets-sass/vendor/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 390, ../stylesheets-sass/vendor/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 402, ../stylesheets-sass/vendor/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 417, ../stylesheets-sass/vendor/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 428, ../stylesheets-sass/vendor/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 438, ../stylesheets-sass/vendor/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 451, ../stylesheets-sass/vendor/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 456, ../stylesheets-sass/vendor/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 465, ../stylesheets-sass/vendor/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 474, ../stylesheets-sass/vendor/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 485, ../stylesheets-sass/vendor/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* VARIABLES */
/* RESETS */
/* line 12, ../stylesheets-sass/_reset.scss */
body, html {
  background-color: #333333;
  color: #efefef;
}

/* EXTENDS */
/* line 18, ../stylesheets-sass/_reset.scss */
.expanded, .gallery_container, .gallery_container .top_pattern, .gallery_container .gallery_images li, .gallery_container .gallery_images li .image {
  width: 100%;
  height: 100%;
}

/* line 22, ../stylesheets-sass/_reset.scss */
.reset_box, .gallery_container .gallery_images {
  margin: 0;
  padding: 0;
}

/* line 26, ../stylesheets-sass/_reset.scss */
.backface_invisible, .hardware_accellerated, .gallery_container .gallery_images {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 29, ../stylesheets-sass/_reset.scss */
.hardware_accellerated, .gallery_container .gallery_images {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
}

/* line 1, ../stylesheets-sass/_layout.scss */
body, html {
  background: #333333;
}

/* line 5, ../stylesheets-sass/_layout.scss */
.gallery_container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* line 12, ../stylesheets-sass/_layout.scss */
.gallery_container .top_pattern {
  z-index: 1;
  position: absolute;
  background-image: url("/images/background-pattern.png");
}
/* line 19, ../stylesheets-sass/_layout.scss */
.gallery_container .gallery_images {
  z-index: 0;
  position: absolute;
  display: inline;
  width: 1960px;
  height: 100%;
  list-style: none;
}
/* line 30, ../stylesheets-sass/_layout.scss */
.gallery_container .gallery_images li {
  position: relative;
  display: inline-block;
  float: left;
}
/* line 36, ../stylesheets-sass/_layout.scss */
.gallery_container .gallery_images li .image {
  display: block;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
