.gallery_container {
  @extend .expanded;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;

  .top_pattern {
    @extend .expanded;
    position: absolute;
    z-index: 1;
    background-image: url('/images/background-pattern.png');
  }

  .gallery_shadow {
    @extend .expanded;
    @include box-shadow(rgba(0, 0, 0, 0.7) 0 0 6em inset);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
  }

  .gallery_images {
    @extend .reset_box;
    position: absolute;
    z-index: 0;
    display: inline;
    width: $minimum_app_width;
    height: 100%;
    list-style: none;

    li {
      @extend .expanded;
      position: relative;
      display: inline-block;
      float: left;

      .image {
        @extend .hardware_accellerated;
        @extend .expanded;
        position: relative;
        display: block;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .details_container {
        @include text-shadow(rgba(#000, 0.4) 2px 2px 0);
        position: absolute;
        bottom: 4em;
        left: 3em;
        z-index: 2;
        color: $app_font_color;
        font-size: 1.4em;
      }
    }
  }
}