body, html {
  background: $app_bg_colour;
}

.gallery_container {
  position: fixed;
  top: 0;
  left: 0;
  @extend .expanded;
  overflow: hidden;

  .top_pattern {
    z-index: 1;
    position: absolute;
    @extend .expanded;
    background-image: url('/images/background-pattern.png');
  }

  .gallery_images {
    z-index: 0;
    position: absolute;
    display: inline;
    width: $minimum_app_width;
    height: 100%;
    @extend .reset_box;
    list-style: none;

    @extend .hardware_accellerated;

    li {
      position: relative;
      display: inline-block;
      float: left;
      @extend .expanded;

      .image {
        display: block;
        @extend .expanded;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('/images/gallery/large/composed.jpg');
      }
    }
  }
}