$navigation_button_width: 75px;
$navigation_button_height: 100px;

.viewer_navigation {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 3;
  margin-top: - $navigation_button_height * 0.5;
  min-height: $navigation_button_height;
  width: 100%;
  font-size: 6em;
  pointer-events: none;

  .button {
    @include text-shadow(rgba(#000, 0.3) 2px 2px 2px);
    position: absolute;
    display: block;
    width: $navigation_button_width;
    height: $navigation_button_height;
    text-align: center;
    cursor: pointer;
    pointer-events: auto;

    &.next {
      right: 0;
    }

    &.disabled {
      pointer-events: none;
      @include opacity(0.2);
    }
  }
}