.detail_block {
  @extend .hardware_accellerated;
  position: relative;
  display: block;

  h2, p {
    display: inline-block;
    margin: 0;
    background: rgba(0, 0, 0, 0.5);
    @include transition-property(background);
    @include transition-duration(0.2s);
  }

  h2 {
    padding: 0.6em 0.3em 0.2em 0.3em;
    font-size: 1.125em;
  }

  p {
    padding: 0.3em 0.6em 0.2em 0.5em;
    font-size: 0.7em;
  }

  &.number_block {
    position: absolute;
    width: 120px;
    height: 77px;
    font-size: 1.125em;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    @include transition-property(background);
    @include transition-duration(0.2s);

    span {
      display: inline-block;
      margin: 30px 0 0 0;

      &:nth-child(2) {
        margin: 0 4px;
      }
    }

    overflow: hidden;
  }

  &.title_block {
    display: inline-block;
    margin-left: 121px;
  }

  &.location_block {
    margin: 1px 0 0 121px;
  }
}

.details_container:hover {
  .detail_block {
    h2, p {
      background: rgba(0, 0, 0, 1);
    }
  }
  .number_block {
    background: rgba(0, 0, 0, 1);
  }
}