@import "vendor/normalize";

/* VARIABLES */
$app_bg_colour: #333;
$app_font_color: #efefef;

// Easing types
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$minimum_app_width: 1960px;

// Fonts
$fontsPath: "../fonts";
@font-face {
  font-family: 'Prime Light';
  src: url('#{$fontsPath}/Prime%20Light.eot');
  src: url('#{$fontsPath}/Prime%20Light.eot?#iefix') format("embedded-opentype"),
    url('#{$fontsPath}/Prime%20Light.woff') format("woff"),
    url('#{$fontsPath}/Prime%20Light.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* RESETS */
body, html {
  background-color: $app_bg_colour;
  color: $app_font_color;
  font-family: 'Prime Light', Verdana, Arial sans-serif;
}


/* TYPOGRAPHIC RYTHM */
$base-font-size: 16px;
$base-line-height: 24px;
@include establish-baseline;


/* EXTENDS */
.expanded {
  width: 100%;
  height: 100%;
}
.reset_box {
  margin: 0;
  padding: 0;
}
.backface_invisible {
  @include backface-visibility(hidden);
}
.hardware_accellerated {
  @include transform(translate3d(0, 0, 0));
  @include perspective(1000);
  @extend .backface_invisible;
}
