@import "vendor/normalize";

/* VARIABLES */
$app_bg_colour: #333;
$app_font_color: #efefef;
// Easing types
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$minimum_app_width: 1960px;

/* RESETS */
body, html {
  background-color: $app_bg_colour;
  color: $app_font_color;
}

/* EXTENDS */
.expanded {
  width: 100%;
  height: 100%;
}
.reset_box {
  margin: 0;
  padding: 0;
}
.backface_invisible {
  @include backface-visibility(hidden);
}
.hardware_accellerated {
  @include transform(translate3d(0, 0, 0));
  @extend .backface_invisible;
  @include perspective(1000);
}
